{%extends 'base.html'%}
{%block body_block%}

<div class="container">
 <div class="row">
  <div class="col-1"></div>
  <div class="col-10">
   <table class="table">
    <tr>
     <th>Applicantname</th>
     <th>Qualifications</th>
     <th>Applied-date</th>
     <th>JobTitle</th>
    </tr>
    {%for application in applications%}
    <tr>
     <td>{{application.applicant.username}}</td>
     <td>{{application.applicant.candidate.qualification}}</td>
     <td>{{application.date}}</td>
     <td>{{application.job.job_title}}</td>
     <td class="btn btn-warning"><a href="{%url 'emp-app-detail' application.id%}">View Application</a> </td>
    </tr>


    {%endfor%}
   </table>
  </div>
  <div class="col-1"></div>
 </div>
</div>

{%endblock%}