{%extends 'base.html'%}
{%block body_block%}
<div class="row mt-5">
    <div class="col-4"></div>
<div class="col-4">
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="">
  <div class="card-body">
    <p class="card-text">
        JOB:{{jobs}}
    </p>
      <p>
          <stong>COMPANY:</stong>:{{jobs.company_name}}
      </p>
      <p>
          LOCATION:{{jobs.location}}

      </p>
      <p>
          SALARY:{{jobs.salary}}
      </p>
      <a href="{%url 'emp-app-list' jobs.id%} " class="btn btn-success">View Applications</a>
  </div>
</div></div>
<div class="col-4"></div>
</div>
{%endblock%}