<!doctype html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{%static 'css/sighup.css'%}">
    <title>Document</title>
</head>
<body>
<form action="" method="post">

  <section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form>

                <div class="form-outline mb-4">
                  <label class="form-label" >USERNAME</label>
                  {%csrf_token%}
                  {{form.username}}
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label">FIRST NAME</label>
                  {{form.first_name}}
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" >LAST NAME</label>
                  {{form.last_name}}
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label">EMAIL</label>
                  {{form.email}}
                </div>
<!--                <div class="form-outline mb-4">-->
<!--                  <label class="form-label" for="form3Example3cg">Your Email</label>-->
<!--                  {{form.email}}-->
<!--                </div>-->
                <div class="form-outline mb-4">
                  <label class="form-label" >Password</label>
                  {{form.password1}}
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label"> Repeat your Password</label>
                  {{form.password2}}
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" ></label>
                  {{form.role}}
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" >PH NO</label>
                  {{form.phone}}
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <label class="form-check-label" >
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                <div>
                  <input type="submit" value="Register" class="btn float-right login_btn btn-secondary">
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a class="btn btn-success" href="{%url 'sighnin' %}">LOGIN</a> </p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
</form>
</body>
</html>